* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.container {
    background-color: rgb(232, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    max-width: 370px;
    margin-bottom: 24px;
    width: 100%;
    height: 55vh;
    border-radius: 24px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
}

.top-side {
    height: 30%;
    background-color: rgb(40, 131, 228);
    border-radius: 24px 24px 0px 0px;
    display: flex;
    justify-content: center;
}

.circle {
    width: 120px;
    height: 120px;
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(40, 131, 228);
    position: absolute;
    top: 175px;
    margin-bottom: 10px;
}
.avtar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.bottom-side {
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h1 {
    margin-top: 32px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}

.text p {
    font-size: 0.9rem;
    margin-top: 4px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.social {
    display: flex;
}

.icon {
    width: 32px;
    height: 32px;
    margin: 16px 8px;
}

.buttons {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 8px;
}

button {
    padding: 8px 24px;
    background-color: rgb(40, 131, 228);
    border-radius: 20px;
    border: transparent 2px solid;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in;
    letter-spacing: 0.5px;
}

button:hover {
    background-color: white;
    border: 2px solid rgb(40, 131, 228);
    color: rgb(40, 131, 228);
}

.data {
    display: flex;
    padding: 20px 0px;
    color: #333;
}

.data img {
    margin: 0px 4px;
    width: 20px;
    height: 20px;
}

.folowers {
    display: flex;
    border-right: 1.5px solid rgb(207, 207, 207);
    padding: 0px 16px;
    justify-content: center;
}

.folowers:last-child {
    border-right: none;
}